$zmdi-font-path:      "material-design-iconic-font/dist/fonts";
$zmdi-css-prefix:     icon-hc;
$zmdi-icon-prefix:    icon;
@import "material-design-iconic-font/scss/material-design-iconic-font.scss";
