<head>
    <base href="/">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta itemprop="name" content="{% if page.title %}{{ site.title }}. {{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta itemprop="description" name=description content="Migrate Интеграция интернет-магазина 1С 1C WooCommerce синхронизация данных wordpress template viper import ecommerce e-commerce commerce woothemes ecommerce affiliate store sales sell shop shopping cart checkout configurable variable widgets reports download downloadable digital inventory stock reports shipping tax">
    <title>{% if page.title %}{{ site.title }}. {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta itemprop="image" content="{{ site.url }}">
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'
          rel='stylesheet' type='text/css'/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>